
@charset "utf-8";

.sH9wk { border-top: 1px solid rgba(var(--ce3,239,239,239),1); color: rgba(var(--f52,142,142,142),1); flex-shrink: 0; font-size: 14px; -webkit-box-pack: center; justify-content: center; line-height: 18px; }

.n1LTb { border: 0px; padding: 0px; top: -2px; width: 100%; }

.n1LTb .RxpZH { -webkit-box-align: center; align-items: center; background-color: rgba(var(--bb2,239,239,239),1); border-bottom: 1px solid rgba(var(--b6a,219,219,219),1); border-top: 1px solid rgba(var(--b6a,219,219,219),1); -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-flow: row wrap; -webkit-box-pack: start; justify-content: flex-start; padding: 8px 0px; }

.X7cDz { -webkit-box-align: center; align-items: center; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; position: relative; }

.n1LTb .X7cDz { background-color: rgba(var(--d87,255,255,255),1); border: 1px solid rgba(var(--b6a,219,219,219),1); border-radius: 30px; margin-right: 16px; padding: 12px 16px; }

.X7cDz .wpO6b { padding: 8px 16px 8px 0px; }

.Ypffh { background: 0px 0px; border: 0px; color: rgba(var(--i1d,38,38,38),1); display: flex; -webkit-box-flex: 1; flex-grow: 1; font-size: inherit; height: 18px; max-height: 80px; outline: 0px; padding: 0px; resize: none; width: 0px; }

.Ypffh:disabled { opacity: 0.3; pointer-events: none; }

.Ypffh::-webkit-input-placeholder, .Ypffh:focus::-webkit-input-placeholder { color: rgba(var(--f52,142,142,142),1); }

.Ypffh::placeholder, .Ypffh:focus::placeholder { color: rgba(var(--f52,142,142,142),1); }

._8tZ3C { display: inline-block; margin: 0px 16px; }

.n1LTb .q6Mjn { border: 0px; box-shadow: 0 0 1px 0 rgba(var(--b6a,219,219,219),1); margin: 0px; }

.q6Mjn { margin: 20px -20px 0px; border-top: 1px solid rgba(var(--b6a,219,219,219),1); }

.Mfkwx { background-color: rgba(var(--d87,255,255,255),1); box-shadow: 0 0 4px 0 rgba(var(--jb7,0,0,0),0.15); min-width: 270px; position: absolute; top: 100%; }

.wUsz1 { bottom: 100%; top: auto; }

.up_hg { background-color: rgba(var(--bb2,239,239,239),1); border-bottom: 1px solid rgba(var(--b6a,219,219,219),1); -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-pack: justify; justify-content: space-between; padding: 12px 16px; }
