<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/menu_template.css">
    <link rel="stylesheet" href="stylesheets/announce.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="full">
        <div class="menu">
            <div class="menu_box">
                    
                <div class="menu_top">
                    <p id="menu_top_text">🤍 Love Planet</p>
                    <img id="menu_top_image" src="images/jessica_temp.png">
                </div>
                <div class="menu_list">
                    <ul id="menu_list_wrapper">
                        <li><a href="/">대시보드</a></li>
                        <li><a href="/announce">관리자 공지</a></li>
                        <hr>
                        <li><a href="/reviews">리뷰 관리</a></li>
                        <li><a href="/lovecoin">러브코인 관리</a></li>
                        <li><a href="/users">회원 관리</a></li>
                        <hr>
                        <li><a href="/systemDocument">시스템 관리 자료</a></li>
                        <li><a href="/systemFeedback">시스템 피드백</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content_wrapper">
                <div class="content_row">
                    <div id="dashboard_announce" class="dashboard_box">
                        <div class="dashboard_title">관리자 공지</div>
                        <ul>
                            <li>
                                <div class="announce_header" onclick="toggleBody(this)">
                                    <img class="announce_icon" src="/images/user/01.jpg">
                                    <div class="announce_title">xxx회원 500코인 입금- 전 여친 후기 삭제 요청</div>
                                </div>
                                <div class="announce_body" style="display: none;">
                                    이렇게 주변인들의 후기를 좀 보시면 이 사람이 어떤 사람인지 바로 감이 오실 거예요. 솔직히 자기 소개는…좀 객관성이 떨어지는 면이 있잖아요. 근데 저희 앱에서는 그런 거품 없이 서로에 대해 속속들이 알게 되니까… 덕분에 매칭 만족도가 90%가 넘죠. 리뷰가 정확하냐고요? 아유, 고객님, 그런 건 당연히 저희가 철저하게 관리하죠.
                                </div>
                            </li>
                            <li>
                                <div class="announce_header" onclick="toggleBody(this)">
                                    <img class="announce_icon" src="/images/user/01.jpg">
                                    <div class="announce_title">xxx회원 500코인 입금- 전 여친 후기 삭제 요청</div>
                                </div>
                                <div class="announce_body" style="display: none;">
                                    이렇게 주변인들의 후기를 좀 보시면 이 사람이 어떤 사람인지 바로 감이 오실 거예요. 솔직히 자기 소개는…좀 객관성이 떨어지는 면이 있잖아요. 근데 저희 앱에서는 그런 거품 없이 서로에 대해 속속들이 알게 되니까… 덕분에 매칭 만족도가 90%가 넘죠. 리뷰가 정확하냐고요? 아유, 고객님, 그런 건 당연히 저희가 철저하게 관리하죠.
                                </div>
                            </li>
                            <li>
                                <div class="announce_header" onclick="toggleBody(this)">
                                    <img class="announce_icon" src="/images/user/01.jpg">
                                    <div class="announce_title">xxx회원 500코인 입금- 전 여친 후기 삭제 요청</div>
                                </div>
                                <div class="announce_body" style="display: none;">
                                    이렇게 주변인들의 후기를 좀 보시면 이 사람이 어떤 사람인지 바로 감이 오실 거예요. 솔직히 자기 소개는…좀 객관성이 떨어지는 면이 있잖아요. 근데 저희 앱에서는 그런 거품 없이 서로에 대해 속속들이 알게 되니까… 덕분에 매칭 만족도가 90%가 넘죠. 리뷰가 정확하냐고요? 아유, 고객님, 그런 건 당연히 저희가 철저하게 관리하죠.
                                </div>
                            </li>
                            <li>
                                <div class="announce_header" onclick="toggleBody(this)">
                                    <img class="announce_icon" src="/images/user/01.jpg">
                                    <div class="announce_title">xxx회원 500코인 입금- 전 여친 후기 삭제 요청</div>
                                </div>
                                <div class="announce_body" style="display: none;">
                                    이렇게 주변인들의 후기를 좀 보시면 이 사람이 어떤 사람인지 바로 감이 오실 거예요. 솔직히 자기 소개는…좀 객관성이 떨어지는 면이 있잖아요. 근데 저희 앱에서는 그런 거품 없이 서로에 대해 속속들이 알게 되니까… 덕분에 매칭 만족도가 90%가 넘죠. 리뷰가 정확하냐고요? 아유, 고객님, 그런 건 당연히 저희가 철저하게 관리하죠.
                                </div>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>

        

    </div>

    <script type="text/javascript" src="/javascripts/announce.js"></script>
</body>
</html>