<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="full">
        <div class="content">
            <div class="content_row">
                <div id="dashboard_welcome" class="dashboard_box">
                    <div class="dashboard_title">Jessica, 안녕하세요.</div>
                    <div class="dashboard_paragraph">
                        오늘의 날씨는 흐림, 19도 입니다.<br>
                        일간 이용 고객 수는 36명으로, 지난 달 같은 시기보다 3명 적습니다.<br>
                        Love Planet 직원 평가 시스템에 따르면 앞으로 5명의 고객을 더 유치해야 다음 달 Platinum 등급에 도달할 수 있습니다.

                    </div>
                </div>
                <div id="dashboard_lovecoin" class="dashboard_box">
                    <div class="dashboard_title">보유 LOVE COIN</div>
                    <div class="dashboard_paragraph"></div>
                </div>
            </div>
            <div class="content_row">
                <div id="dashboard_reviews" class="dashboard_box">
                    <div class="dashboard_title">최근 고객 리뷰</div>
                    <div class="dashboard_paragraph"></div>
                </div>
                <div id="dashboard_alarms" class="dashboard_box">
                    <div class="dashboard_title">관리자 알림</div>
                    <div class="dashboard_paragraph"></div>
                </div>
            </div>
        </div>

        <div class="menu">
            <div class="menu_box">
                <div class="menu_content">
                    
                    <div class="menu_logo">
                        <img src="">
                        <p id="menu_logo_text">🤍 Love Planet</p>
                    </div>
                    <div class="menu_list">
                        <ul id="menu_list_wrapper">
                            <li>대시보드</li>
                            <li>관리자 공지</li>
                            <hr>
                            <li>리뷰 관리</li>
                            <li>러브코인 관리</li>
                            <li>회원 관리</li>
                            <hr>
                            <li>시스템 관리 자료</li>
                            <li>시스템 피드백</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>