<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/menu_template.css">
    <link rel="stylesheet" href="stylesheets/newUser.css">
    <link rel="stylesheet" href="stylesheets/popup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="full">
        <div class="menu">
            <div class="menu_box">
                    
                <div class="menu_top">
                    <p id="menu_top_text">π¤ Love Planet</p>
                    <img id="menu_top_image" src="images/user/05.jpg">
                </div>
                <div class="menu_list">
                    <ul id="menu_list_wrapper">
                        <li><a href="/">Dashboard</a></li>
                        <li><a href="/announce">Notice</a></li>
                        <hr>
                        <li><a href="/reviews">Recent Reviews</a></li>
                        <li><a href="/lovecoin">Lovecoin</a></li>
                        <li><a href="/users">User Management</a></li>
                        <hr>
                        <li><a href="/systemDocument">System Document</a></li>
                        <li><a href="/systemFeedback">System Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content_wrapper">
                <div class="content_row">
                    <div id="dashboard_join" class="dashboard_box">
                        <div class="dashboard_title">New User</div>
                        <h2>μ΄λ¦„</h2>
                        <input type="text">
                        <h2>μƒλ…„μ›”μΌ</h2>
                        <input type="date">
                        <h2>κ±°μ£Όμ§€</h2>
                        <input type="text">
                        <h2>μ‚¬μ „ μΈν„°λ·°</h2>
                        <h3>μκ°€ ν‰κ°€</h3>
                        <textarea></textarea>
                        <h3>μ§€μΈ ν‰κ°€</h3>
                        <textarea></textarea>
                        <div class="dashboard_button" onclick="overlayOn()">Join!</div>
                    </div>
                </div>
            </div>
            
        </div>

        

    </div>

    <script>
        const overlayOn = () => {
            const overlay = document.getElementById('popup');
            overlay.setAttribute("visible", "true");
            overlay.setAttribute("style", "opacity: 1;");
        }
    </script>

    <div id="popup" style="opacity: 0; display: none;" onclick="toggleSelf(this)">
        <div class="popup_box join_done">
            <p>κ°€μ…μ΄ μ™„λ£λμ—μµλ‹λ‹¤!</p>
            <div class="popup_button" onclick="location.href='/userShow'">ν™•μΈ</div>
        </div>
    </div>
</body>
</html>