<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/menu_template.css">
    <link rel="stylesheet" href="stylesheets/reviews.css">
    <link rel="stylesheet" href="stylesheets/overlay.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        body {
            font-family: 'proxima-nova-extra-condensed', 'YiSunShinDotumM';
        }
    </style>
</head>
<body>
    <div class="full">
        <div class="menu">
            <div class="menu_box">
                    
                <div class="menu_top">
                    <p id="menu_top_text">🤍 Love Planet</p>
                    <img id="menu_top_image" src="images/user/05.jpg">
                </div>
                <div class="menu_list">
                    <ul id="menu_list_wrapper">
                        <li><a href="/">Dashboard</a></li>
                        <li><a href="/announce">Notice</a></li>
                        <hr>
                        <li><a href="/reviews">Recent Reviews</a></li>
                        <li><a href="/lovecoin">Lovecoin</a></li>
                        <li><a href="/users">User Management</a></li>
                        <hr>
                        <li><a href="/systemDocument">System Document</a></li>
                        <li><a href="/systemFeedback">System Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content_wrapper">
                <div class="content_row">
                    <div id="dashboard_reviews" class="dashboard_box">
                        <div class="dashboard_title">Recent Reviews</div>
                        <ul>
                            <li onclick="overlayOn(0)">
                                <img class="user_image" src="/images/user/05.jpg">
                                <div class="review_box">
                                    <div class="review_userinfo">
                                        <p>Jessica</p>
                                        <div class="review_star star8"></div>
                                        <p class="review_reviewer">By. 자니</p>
                                    </div>
                                    <div class="review_text">
                                        활달하고 사교성이 좋아 처음 보는 사람과도 금방 친구가 됩니다. 저도 처음 만났을 때 제시카의 밝고 친근한 모습에 반해 호감을 갖게 됐어요. 하지만...
                                    </div>
                                </div>
                            </li>
                            <li onclick="overlayOn(1)">
                                <img class="user_image" src="/images/user/03.jpg">
                                <div class="review_box">
                                    <div class="review_userinfo">
                                        <p>이종수</p>
                                        <div class="review_star star4"></div>
                                        <p class="review_reviewer">By. 존버</p>
                                    </div>
                                    <div class="review_text">
                                        항상 자신감 있고 주변 사람들한테 관심이 많은 분이다. 근데 과하게 친한 척하면서 이것저것 참견하고 다닐 때는 솔직히 꼴보기 싫다. 아바타 눈만 봐도 기빨림. 함정은...
                                    </div>
                                </div>
                            </li>
                            <li onclick="overlayOn(2)">
                                <img class="user_image" src="/images/user/03.jpg">
                                <div class="review_box">
                                    <div class="review_userinfo">
                                        <p>이종수</p>
                                        <div class="review_star star6"></div>
                                        <p class="review_reviewer">By. 씹년지기</p>
                                    </div>
                                    <div class="review_text">
                                        얘랑 십 년 넘게 알고 지내다가 손절했음. 씹팔 조까튼 새끼. 자기 필요할 때만 친구고 단물 다 빠지면 사람 취급도 안 하는 게, 뭐 핵인싸? 말 같지도 않음.
                                    </div>
                                </div>
                            </li>
                            <li onclick="overlayOn(3)">
                                <img class="user_image" src="/images/user/03.jpg">
                                <div class="review_box">
                                    <div class="review_userinfo">
                                        <p>이종수</p>
                                        <div class="review_star star10"></div>
                                        <p class="review_reviewer">By. 댕청이</p>
                                    </div>
                                    <div class="review_text">
                                        호구력 만점. 가성비 만점. 절대 피곤할 일 없어요. 결혼 보험용으로 강추.
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>

        

    </div>

    <script type="text/javascript" src="/javascripts/overlay.js"></script>

    <div id="overlay" class="overlay" style="opacity: 0; display: none;">
        <div class="popup_box popup_review">
            <div class="popup_review_header">
                <img class="popup_review_userphoto" src="/images/user/05.jpg">
                <div class="popup_review_userinfo">
                    About. Jessica<br>
                    <div class="popup_review_star popup_review_star8"></div>
                </div>
            </div>
            <div class="popup_review_body">
                <textarea class="review_textarea">제시카 님의 성격. 활달하고 사교성이 좋아 처음 보는 사람과도 금방 친구가 됩니다. 저도 처음 만났을 때 제시카의 밝고 친근한 모습에 반해 호감을 갖게 됐어요. 하지만 연인이 되고 나니 그런 성격이 마냥 좋기만 한 건 아니더라고요. 모두에게 친절한 여자, 친구와 애인에게 똑같이 구는 여자는 생각보다 제가 감당하기 어려웠어요. 제시카가 소위 남사친이라는 사람들 네 명이랑 여행을 가서 연락이 두절됐을 때는 진짜 이게 장난이 아니구나 싶었죠. 아니 이 썅년이 전화를 밤새도록 꺼놓은 거예요. 그러면서 친구 폰으로 자기 SNS에 들어갔는지 밤새 남자들이랑 술 마시고 껴안고 기대있는 사진 이딴 거나 계속 올려대는데 또 디엠 보내면 읽지도 않아요. 다음날 못참겠다고, 헤어지자고 하니까 하는 말이 자기는 원래 술 취하면 핸드폰 꺼놓고, SNS 하면서 사람들한테 앵기는 게 주사라고....이게 말이 됩니까? 개지랄 염병하는 소리지? 제발 얘처럼 개념없고 술 좋아하는 사람은 거르세요 제발!!!!</textarea>
            </div>
            <div class="popup_review_footer">
                <div class="popup_button" onclick="overlayTextColor(0)">수정</div>
                <div class="popup_button" onclick="overlayReturnColor(0)">삭제</div>
                <div class="popup_button" onclick="overlayOff(0)">닫기</div>
            </div>
        </div>
    </div>

    <div id="overlay" class="overlay" style="opacity: 0; display: none;">
        <div class="popup_box popup_review">
            <div class="popup_review_header">
                <img class="popup_review_userphoto" src="/images/user/03.jpg">
                <div class="popup_review_userinfo">
                    About. 이종수<br>
                    <div class="popup_review_star popup_review_star4"></div>
                </div>
            </div>
            <div class="popup_review_body">
                <textarea class="review_textarea">세계 최강 오지라퍼. 항상 자신감 있고 주변 사람들한테 관심이 많은 분이다. 근데 과하게 친한 척하면서 이것저것 참견하고 다닐 때는 솔직히 꼴보기 싫다. 아바타 눈만 봐도 기빨림. 함정은 나대는 거에 비해 무능력해서 프로젝트에 손대는 족족 말아먹기로 유명하다. 같이 일해서 나락 간 사람이 한두 명이 아님. 회사에서 데스 노트로 불린다. 관심이고 도움이고 그냥 다 필요없으니까 제발 남한테 피해 주지 마세요.</textarea>
            </div>
            <div class="popup_review_footer">
                <div class="popup_button" onclick="overlayTextColor(1)">수정</div>
                <div class="popup_button" onclick="overlayReturnColor(1)">삭제</div>
                <div class="popup_button" onclick="overlayOff(1)">닫기</div>
            </div>
        </div>
    </div>

    <div id="overlay" class="overlay" style="opacity: 0; display: none;">
        <div class="popup_box popup_review">
            <div class="popup_review_header">
                <img class="popup_review_userphoto" src="/images/user/03.jpg">
                <div class="popup_review_userinfo">
                    About. 이종수<br>
                    <div class="popup_review_star popup_review_star6"></div>
                </div>
            </div>
            <div class="popup_review_body">
                <textarea class="review_textarea">얘랑 십 년 넘게 알고 지내다가 손절했음. 씹팔 조까튼 새끼. 자기 필요할 때 만 친구고 단물 다 빠지면 사람 취급도 안 하는 게, 뭐 핵인싸? 말 같지도 않음.</textarea>
            </div>
            <div class="popup_review_footer">
                <div class="popup_button" onclick="overlayTextColor(2)">수정</div>
                <div class="popup_button" onclick="overlayReturnColor(2)">삭제</div>
                <div class="popup_button" onclick="overlayOff(2)">닫기</div>
            </div>
        </div>
    </div>
    
    <div id="overlay" class="overlay" style="opacity: 0; display: none;">
        <div class="popup_box popup_review">
            <div class="popup_review_header">
                <img class="popup_review_userphoto" src="/images/user/03.jpg">
                <div class="popup_review_userinfo">
                    About. 이종수<br>
                    <div class="popup_review_star popup_review_star10"></div>
                </div>
            </div>
            <div class="popup_review_body">
                <textarea class="review_textarea">호구력 만점. 가성비 만점. 절대 피곤할 일 없어요. 결혼 보험용으로 강추.</textarea>
            </div>
            <div class="popup_review_footer">
                <div class="popup_button" onclick="overlayTextColor(3)">수정</div>
                <div class="popup_button" onclick="overlayReturnColor(3)">삭제</div>
                <div class="popup_button" onclick="overlayOff(3)">닫기</div>
            </div>
        </div>
    </div>
    
</body>
</html>