<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/menu_template.css">
    <link rel="stylesheet" href="stylesheets/overlay.css">
    <link rel="stylesheet" href="stylesheets/userShow.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/hnd0qtt.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="full">
        <div class="menu">
            <div class="menu_box">
                    
                <div class="menu_top">
                    <p id="menu_top_text">🤍 Love Planet</p>
                    <img id="menu_top_image" src="images/user/05.jpg">
                </div>
                <div class="menu_list">
                    <ul id="menu_list_wrapper">
                        <li><a href="/">Dashboard</a></li>
                        <li><a href="/announce">Notice</a></li>
                        <hr>
                        <li><a href="/reviews">Recent Reviews</a></li>
                        <li><a href="/lovecoin">Lovecoin</a></li>
                        <li><a href="/users">User Management</a></li>
                        <hr>
                        <li><a href="/systemDocument">System Document</a></li>
                        <li><a href="/systemFeedback">System Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content_row">
                <div id="user_info" class="dashboard_box">
                    <img src="/images/user/03.jpg" class="profile_img">
                    <div class="user_body">
                        <div class="user_name">
                            <h1>이종수</h1><img src="/images/grades/grade02.png" class="user_grade_image">
                        </div>
                        <div class="user_text">
                            만 27세, 서울특별시 관악구 거주<br>
                            2021년 11월 21일 가입 / 평균 평점 1.17
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_row">
                <div id="dashboard_reviews" class="dashboard_box">
                    <div class="dashboard_title">Recent Reviews</div>
                    <ul>
                        <li onclick="overlayOn()">
                            <img class="user_image" src="/images/user/02.jpg">
                            <div class="review_box">
                                <div class="review_userinfo">
                                    <p>존버</p>
                                    <img class="user_grade_image" src="/images/grades/crown.png">
                                    <div class="review_star star6"></div>
                                </div>
                                <div class="review_text">
                                    항상 자신감 있고 주변 사람들한테 관심이 많은 분이다. 근데...
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="user_image" src="/images/user/02.jpg">
                            <div class="review_box">
                                <div class="review_userinfo">
                                    <p>씹년지기</p>
                                    <img class="user_grade_image" src="/images/grades/medal1.png">
                                    <div class="review_star star4"></div>
                                </div>
                                <div class="review_text">
                                    얘랑 십 년 넘게 알고 지내다가 손절했음. 씹팔 조까튼 새끼. 자기 필요할 때만...
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="user_image" src="/images/user/04.jpg">
                            <div class="review_box">
                                <div class="review_userinfo">
                                    <p>댕청이</p>
                                    <img class="user_grade_image" src="/images/grades/sapphire.png">
                                    <div class="review_star star10"></div>
                                </div>
                                <div class="review_text">
                                    호구력 만점. 가성비 만점. 절대 피곤할 일 없어요. 결혼 보험용으로 강추.
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="user_image" src="/images/user/02.jpg">
                            <div class="review_box">
                                <div class="review_userinfo">
                                    <p>엄마</p>
                                    <img class="user_grade_image" src="/images/grades/jewel.png">
                                    <div class="review_star star2"></div>
                                </div>
                                <div class="review_text">
                                    잠겨 있는 리뷰입니다.
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="user_image" src="/images/user/02.jpg">
                            <div class="review_box">
                                <div class="review_userinfo">
                                    <p>동생</p>
                                    <img class="user_grade_image" src="/images/grades/medal2.png">
                                    <div class="review_star star2"></div>
                                </div>
                                <div class="review_text">
                                    잠겨 있는 리뷰입니다.
                                </div>
                            </div>
                        </li>
                        

                    </ul>
                </div>
                <div id="sns_analysis" class="dashboard_box">
                    <div class="dashboard_title" onclick="location.href='/snsAnalysis'">SNS Analysis</div>
                    <ul>
                        <li>
                            <img src="/images/logos/instagram.png" class="analysis_logo" onclick="location.href='/insta_jongsoo'">
                            <div class="analysis_body">
                                <div class="analysis_title">
                                    Instagram
                                </div>
                                <div class="analysis_text">
                                    게시글 16 / 팔로워 30.0K / 팔로우 48<br>
                                    실질 팔로워 38 (0.127%)
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="/images/logos/facebook.png" class="analysis_logo">
                            <div class="analysis_body">
                                <div class="analysis_title">
                                    Instagram
                                </div>
                                <div class="analysis_text">
                                    게시글 16 / 팔로워 30.0K / 팔로우 48<br>
                                    실질 팔로워 38 (0.127%)
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="/images/logos/kakaotalk.png" class="analysis_logo">
                            <div class="analysis_body">
                                <div class="analysis_title">
                                    Kakaotalk
                                </div>
                                <div class="analysis_text">
                                    친구 3,405<br>
                                    실질 교류 134 (3.93%) / 선톡 비율 87.0%
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            
        </div>

        

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script type="text/javascript" src="/javascripts/coin.js"></script>

    <script type="text/javascript" src="/javascripts/overlay.js"></script>

    <div id="overlay" style="opacity: 0; display: none;">
        <div class="popup_box popup_review">
            <div class="popup_review_header">
                <img class="popup_review_userphoto" src="/images/user/01.jpg">
                <div class="popup_review_userinfo">
                    존버<br>
                    <div class="popup_review_star"></div>
                </div>
            </div>
            <div class="popup_review_body">
                <textarea id="reveiw_textarea">처음 봤을 때는...</textarea>
            </div>
            <div class="popup_review_footer">
                <div class="popup_button" onclick="overlayTextColor()">수정</div>
                <div class="popup_button" onclick="overlayReturnColor()">삭제</div>
                <div class="popup_button" onclick="overlayOff()">닫기</div>
            </div>
        </div>
    </div>

</body>
</html>
