h2 {
    font-size: 26px;
    color: rgb(214, 124, 146);

    margin-top: 20px;
}
h3 {
    font-size: 22px;
    color: rgb(214, 124, 146);
}

input {
    margin-bottom: 20px;
    padding: 4px 0px 4px 8px;

    border: 1px solid rgb(231, 172, 187);
    border-radius: 8px;
    
    color:rgb(214, 124, 146);
    font-size: 20px;
    width: 30%;

    font-family: 'proxima-nova', 'proxima-nova-extra-condensed',  'YiSunShinDotumM', monospace;
}
input:focus {
    border: 2px solid rgb(214, 124, 146);
    outline: none;
}

textarea {
    margin-bottom: 20px;
    padding: 4px 0px 4px 8px;

    border: 1px solid rgb(231, 172, 187);
    border-radius: 8px;
    
    color:rgb(214, 124, 146);
    font-size: 20px;
    width: 80%;
    height: 180px;

    resize: none;
    overflow-y: auto;


    font-family: 'proxima-nova', 'proxima-nova-extra-condensed',  'YiSunShinDotumM', monospace;
}
textarea:focus {
    border: 2px solid rgb(214, 124, 146);
    outline: none;
}

.content {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.content_header {
    padding: 40px 0px 10px 60px;

    color: rgb(88, 88, 88);
    font-size: 40px;
    text-shadow: 0 3px 3px rgb(0, 0, 0, 0.1);
}

.content_wrapper {
    overflow-y: scroll;

    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top;
}

.content_row:nth-child(1) {
    margin-top: 2%;
}

.content_row {
    display: flex;
    width: 100%;
}

.dashboard_box {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    margin: 20px 120px 40px 120px;
    min-width: 300px;

    padding: 20px 150px 20px 150px;
}

.dashboard_box hr {
    opacity: 0.4;
    border: 1px solid white;
    box-shadow: 0 2px 4px 0 lightcoral;
}

.dashboard_title {
    color:rgb(214, 124, 146);
    font-size: 40px;
    padding-top: 30px;
    padding-left: 29px;
    padding-bottom: 25px;
    text-shadow: 0 3px 3px rgb(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.dashboard_paragraph {
    color: white;
    font-size: 25px;
    line-height: 1.7;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 2px 2px rgb(0, 0, 0, 0.1);
}

.dashboard_button {
    height: 40px;
    width: 100px;
    padding: 0px 15px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    
    font-size: 25px;
    line-height: 40px;
    text-align: center;

    border: 2px solid rgb(214, 124, 146);
    border-radius: 25px;

    color: rgb(214, 124, 146);

}
.dashboard_button:hover {
    border: 2px solid rgb(214, 124, 146);
    border-radius: 25px;

    background-color: rgb(214, 124, 146);

    color: white;

    cursor: pointer;
}

#dashboard_join {
    width: 100%;
}