h1 {
    font-size: 40px;
    font-weight: 500;
    color: rgb(88, 88, 88);

    margin: 0;
}
h2 {
    font-size: 26px;
    color: rgb(214, 124, 146);

    margin-top: 20px;
}
h3 {
    font-size: 22px;
    color: rgb(214, 124, 146);
}

.content {
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow: auto;
}

.content_header {
    padding: 40px 0px 10px 60px;

    color: rgb(88, 88, 88);
    font-size: 40px;
    text-shadow: 0 3px 3px rgb(0, 0, 0, 0.1);
}

.content_wrapper {
    overflow-y: scroll;

    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top;
}

.content_row:nth-child(1) {
    margin-top: 2%;
}

.content_row {
    display: flex;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.dashboard_box {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    margin: 20px 20px 40px 20px;
    min-width: 300px;

    padding: 20px 50px 20px 50px;
}

.dashboard_box hr {
    opacity: 0.4;
    border: 1px solid white;
    box-shadow: 0 2px 4px 0 lightcoral;
}

.dashboard_title {
    color:rgb(214, 124, 146);
    font-size: 40px;
    padding-top: 10px;
    padding-left: 29px;
    padding-bottom: 5px;
    text-shadow: 0 3px 3px rgb(0, 0, 0, 0.1);
    margin-bottom: 10px;

    cursor: pointer;
}

.dashboard_paragraph {
    color: white;
    font-size: 25px;
    line-height: 1.7;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 2px 2px rgb(0, 0, 0, 0.1);
}

.dashboard_button {
    height: 40px;
    width: 100px;
    padding: 0px 15px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    
    font-size: 25px;
    line-height: 40px;
    text-align: center;

    border: 2px solid rgb(214, 124, 146);
    border-radius: 25px;

    color: rgb(214, 124, 146);

}
.dashboard_button:hover {
    border: 2px solid rgb(214, 124, 146);
    border-radius: 25px;

    background-color: rgb(214, 124, 146);

    color: white;

    cursor: pointer;
}

#user_info {
    width: 100%;
}

.user_name {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
}

.user_text {
    color:rgb(120, 120, 120);
    font-size: 25px;
}

#dashboard_reviews {
    flex: 1;

    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

#dashboard_reviews ul {
    color: rgb(66, 66, 66);
    padding: 0;
}

#dashboard_reviews ul li {
    display: flex;
    background-color: rgb(255, 234, 234, 0);
    transition: all 0.3s;

    margin-top: 10px;

    padding: 10px 5px 30px 5px;

    border-bottom: 2px solid rgb(255, 204, 204);
}
#dashboard_reviews ul li:hover {
    background-color: rgb(255, 234, 234, 1);
    
    cursor: pointer;
}

#dashboard_reviews ul li .user_image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid gray;

    margin-top: 10px;
}

#dashboard_reviews ul li .review_box {
    flex: 1;
    height: 100px;

    padding-left: 20px;
    display: flex;
    flex-direction: column;

    color: rgb(123, 123, 123);
}

.review_box .review_userinfo {
    
    flex: 1;

    display: flex;
    align-items: center;
    font-size: 35px;
    line-height: 50px;
}

.review_reviewer {
    font-size: 25px;
    opacity: 0.7;
}

.user_grade_image {
    width: 40px;
    height: 40px;

    margin-left: 15px;
    
}

.review_box .review_text {
    flex: 1;
    font-size: 25px;
    padding-top: 10px;
}

.review_star {
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    height: 20px;

    background-position: center;
    background-size: cover;
}

.star10 { background-image: url('/images/stars/10.png'); }
.star9 { background-image: url('/images/stars/9.png'); }
.star8 { background-image: url('/images/stars/8.png'); }
.star7 { background-image: url('/images/stars/7.png'); }
.star6 { background-image: url('/images/stars/6.png'); }
.star5 { background-image: url('/images/stars/5.png'); }
.star4 { background-image: url('/images/stars/4.png'); }
.star3 { background-image: url('/images/stars/3.png'); }
.star2 { background-image: url('/images/stars/2.png'); }
.star1 { background-image: url('/images/stars/1.png'); }

#user_info {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

#user_info .profile_img {
    width: 200px;

    border-radius: 100%;
    border: 4px solid rgb(214, 124, 146);

    margin-left: 20px;
}

.user_body {
    margin-left: 40px;
    flex: 1;
}

#dashboard_reviews ul li .review_more {
    width: 100%;
    display: flex;
    justify-content: center;

    font-size: 17px;
}

#sns_analysis {
    flex: 1;
}

#sns_analysis ul {
    padding: 0;
}
#sns_analysis ul li {
    display: flex;
    flex-direction: row;

    border-bottom: 2px solid rgb(255, 204, 204);
    padding-top: 22px;
    padding-bottom: 22px;
}

.analysis_body {
    color: rgb(100, 100, 100);
    flex: 1;
    padding-left: 15px;

    position: relative;
    top: -5px;
}

.analysis_logo {
    width: 100px;
}

.analysis_title {
    color: inherit;
    font-size: 30px;
    font-weight: 900;
}

.analysis_text {
    color: inherit;
    font-size: 20px;
}
